.event-card {
  display: flex;
  gap: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin: 25px auto;
  max-width: 900px;
  align-items: center;
}

.event-image img {
  width: 300px;
  border-radius: 12px;
}

.event-info {
  text-align: right;
}

.event-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.event-date {
  color: #444;
  font-size: 15px;
  margin-bottom: 12px;
}

.event-description {
  line-height: 1.8;
  font-size: 17px;
}

/* responsiveness */
@media (max-width: 768px) {
  .event-card {
    flex-direction: column;
    text-align: center;
  }

  .event-image img {
    width: 100%;
  }
}
